.header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    background-color: teal;
}
.pageLabel {
    color: white;
	font-size: 24px;
	font-weight: 400;
	user-select: none;
	padding-left: 12px;
}

.menu{
    fill: white;
}
.spacer1{
    padding-left: 30px;
}
body{
    background-color: #f3f6f8;
    font-size: 15px;
    font-family: Manrope, sans-serif;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .loginbutt {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
.cardlogin{
    font-family: Arial, Helvetica, sans-serif;
    width:300px;
    height:500px;
    margin:0 auto;
    background-color: #303030;
    color: white;
    border: 3px solid wheat;
    position:absolute;
    left:50%;
    top:100px;
    margin-left:-150px;
}

.card4{
    background-color: #303030;
    position: absolute;
    top:  75px;
    margin: auto;
    border: 3px solid wheat;
    left: 340px;
    width: 900px;
    height: auto;
}

.card {
	background-color: white;
    border-radius: 8px;
    box-shadow: rgba(92, 97, 97, 0.1) 0px 3px 20px 0px;
	width: calc(33.33% - 11px);
	box-sizing: border-box;
	padding: 24px 28px;
	float: left;
	margin: 0 16px 16px 0;
}

.label {
	font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(168, 179, 191);
	line-height: 1;
}

.subtext {
	color: rgb(83 90 101);
	font-family: Manrope, sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.footer {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(168, 179, 191);
    margin: 0;
}

.footer a {
	color: rgb(1, 113, 211);
	font-weight: 500;
	cursor: pointer;
	user-select: none;
}

.credits {
	position: relative;
	top: 3.5px;
	left: 4px;
}

.innerCardText1{
    font-size: 48px;
	line-height: 1;
    color: rgb(46, 54, 67);
	font-family: Manrope, sans-serif;
	font-weight: 700;
	margin-right: 6px;
}

.page {
	padding: 16px;
	box-sizing: border-box;
	width: calc(100% - 70px);
    height: calc(100% - 64px);
    overflow: auto;
}

.menuSidebar{
    width: 70px;
    background-color: rgb(46, 54, 67);
    height: 100%;
    left: 0;
	padding-top:8px;
	box-sizing: border-box;
	float: left;
}

.menuItem{
    font-size: 150%;
    color: white;
	transition: 100ms;
	text-align: center;
	cursor: pointer;
	user-select: none;
	padding: 8px 0;
	transition: 100ms;
	fill: #fff;
	stroke: #fff;
}
.menuItem:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.menuItem.active {
	background-color: rgba(255, 255, 255, 0.1);
	fill: #FBD63B;
	stroke: #FBD63B;
}

.graph{
    background-color: white;
	border-radius: 8px;
	box-shadow: rgba(92, 97, 97, 0.1) 0px 3px 20px 0px;
	max-width: 932px;
	width: 100%;
	height: 480px;
}

.dashCards{
	max-width: 932px;
	display:table;
	width:100%
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
  }
  td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #454545;
  }
  /* latin-ext */
@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjspvPho7vA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
    /* latin */
@font-face {
    font-family: 'Monda';
    font-style: normal;
    font-weight: 400;
    src: local('Monda Regular'), local('Monda-Regular'), url(https://fonts.gstatic.com/s/monda/v9/TK3tWkYFABsmjsphPho.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}